/*---------------------
 creator : Zeph

 ---------------------*/

/* 基本样式 */

*{
    /*background:rgba(0,0,0,.1);*/
}

body{
    overflow: hidden;
}

.right{
    float: right;
}

.left{
    float: left;
}

.clearf{
    clear: both;
}

/* 总体样式 */
.container {
    margin:0 auto;
    width: 1180px;
    padding: 0px 40px;
    overflow: hidden;
    text-align: center;
}

.part_title{ 
    display: inline-block;
    color: #000;
    /*background-color: #ababab;*/
    padding:0 20px;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2.3em;
    text-shadow: 2px 2px .5px #bbb;
}



#presonal_info,#the_rightbox{
    margin: 25px;
    margin-top: 30px;
    box-shadow: 2px 2px .5px #999;
    background: #EAEAEA;
}


/*  ------左边------  */

#presonal_info{
    position:fixed;
    margin-left: -800px;
    width: 350px;
}


.part_box {
	background:#FFF68F;
    display: block;
    box-shadow: 2px 2px .5px #999;
}

#aboutme,#contactme{
    margin: 20px;
    width: 310px;
}

/* 关于我 */
#aboutme{
}

#aboutme .avatar{
    overflow: hidden;
    display: block;
    height: 160px;
}

#aboutme .avatar img{
    height: 150px;
    border-radius:50%;
}

#aboutme #myname{
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.5em;
}

#aboutme p{
    padding: 10px 0;
    letter-spacing:2px;
    font-size: 0.9em;
}

#contactme{
}

#contactme p{
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 30px;
    line-height: 1.3em;
    text-align: left;
}

#contactme p span {
    display: inline-block;
    padding-top: 5px;
    text-align: right;
    width: 70px;
}


/*  ------右边------  */

#the_rightbox{
    margin-top: -1000px;
    width: 650px;
}

#aboutsite,#myworks,#myskill{
    margin: 20px;
    width: 610px;
}

#aboutsite p{
    padding:10px 20px;
    text-align: left;
    font-size: .9em;
}

#aboutsite p span{
    display: inline-block;
    margin-bottom: 5px;
}

#aboutsite{
    display: block;
}

#myworks{
}

#myworks ul{
    margin-left: 80px;
    padding-bottom:70px;
}

#myworks li img{
    float: left;
    width: 120px;
    margin-top:30px;
    margin-left:30px;
}

/* ------ 欢迎页 ------*/
.wellcome_page_wrap{
    
    margin: 0 auto;
    height: 400px;
    width: 400px;
}

#wellcome_page{
    display:none;
    text-align: center;
}

#enter_btn{
    display: none;
}

#logo{
    display: none;
}
/*----------------*/
